.black-border {
    border: 0.5px solid black;
    padding: 10px; /* Ajoutez un remplissage si nécessaire pour l'espace à l'intérieur de la bordure */
    display: inline-flex;
  flex-direction: column; /* ou row selon vos besoins */
  align-items: center; /* centre le contenu horizontalement */
  justify-content: center; /* centre le contenu verticalement */
  }

.bouton-texte {
  display: flex;
      align-items: center;
}

.marge-droite {margin-left: 10px; /* Ajoutez une marge à droite pour l'espace entre le texte et le bouton */
}