<div class="black-border" >
    <div class="custom-cadre mb-3" style="width: 300px;">
        <div class="row justify-content-between">

          <div class="custom-button btn-group col-md-4">
            <button type="button" class="btn btn-white" style="text-align: left;">Centres</button>
            <mat-icon>arrow_right</mat-icon>
          </div>

          <div class="custom-button btn-group col-md-4">
            <button type="button" class="btn btn-white" style="text-align: left;">Mon centre</button>
            <mat-icon style="color:rgb(71, 75, 75)">arrow_right</mat-icon>
          </div>

          <div class="custom-button btn-group col-md-4">
            <button type="button" class="btn btn-white" style="text-align: left;">Planning</button>
            <mat-icon>arrow_right</mat-icon>
          </div>

          <div class="custom-button btn-group col-md-4" >
            <button type="button" class="btn btn-white" style="text-align: left;">Config.</button>
            <mat-icon>arrow_right</mat-icon>
          </div>

        </div>
      </div>
</div>
<app-centres></app-centres>
<app-centres-personnel></app-centres-personnel>
<app-planning></app-planning>