<link href="https://fonts.googleapis.com/icon?family=Material+Icons" 
rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-gn5388fR9Iq2qY9xI0nhyK2C/6FhgsuYMy2yrKfrEq8v8oFdP5X4UwIqS6+dpCBCTjAhLez1RrK/D2J4NFGvCg==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<div class="white-border">
    <div class="d-flex" style="margin-right: auto;">
        <div class="div1" >
          <input type="text" class="form-control" placeholder="Filtrer" style="width: 300px; height: 40px;">
        </div>
        <div>
          <button class="btn btn-primary">Nouveau</button>
        </div>
      </div>
    <div class="black-border">
        <div class="d-flex">
            <div>texte

            </div>
            <button class="property-button">
                <mat-icon class="property-icon">create</mat-icon>
            </button>
              
        </div>
        <div class="d-flex">
            <div>texte

            </div>
            <button class="property-button">
                <mat-icon class="property-icon">group</mat-icon>
            </button>
              
        </div>
        <div class="d-flex">
            <div>texte

            </div>
            <button class="property-button">
                <mat-icon class="property-icon">create</mat-icon>
            </button>
        </div>
        <div class="d-flex">
            <div>texte

            </div>
            <button class="property-button">
                <mat-icon class="property-icon">group</mat-icon>
            </button>
        </div>
    </div>
</div>
